<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User info</title>
</head>
<body>
<h1>User information:</h1>
<h2><strong>Id:</strong> <span th:text="${user.id}">123</span></h2>
<h2><strong>Age:</strong> <span th:text="${user.age}">25</span></h2>
<h2><strong>FirstName:</strong> <span th:text="${user.firstName}">John</span></h2>
<h2><strong>LastName:</strong> <span th:text="${user.lastName}">Doe</span></h2>
<h2><strong>Email:</strong> <span th:text="${user.email}">john.doe@example.com</span></h2>
<h2><strong>Created:</strong> <span th:text="${user.created}">2023-01-01</span></h2>
<h2><strong>Updated:</strong> <span th:text="${user.updated}">2023-01-02</span></h2>
</body>
</html>